<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Produto</title>
		</head>
	<body>

		<h1>Produto</h1>

		<table>
			<tr>
		
				<td>Nome</td>
				
			</tr>

			<%  for(var i=0; i < produtos.length; i++){ %>	
			<tr>

				<td><%= produtos[i].nome %></td>
			
			</tr>

			<% } %>

		</table>

	</body>
</html>
