<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de produtos</title>
        </head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<body>
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-6">Adicionar produto</h1>
                <hr class="my-4">
                <form action="/produtos/salvar" method="post">
                    <div class="row">  
                        <div class="col col-lg-4">
                            <label>Nome</label>
                            <input class="form-control" type="text" name="nome">
                        </div>

                        <div class="col col-lg-8">
                            <label>Descrição</label>
                            <input class="form-control" type="text" name="descricao">
                        </div>
                        <hr class="my-4">
                    </div>
                    </br>
                    <input class="btn btn-primary" type="submit" value="Cadastrar">
                </form>
            </div>
        </div>
	</body>
</html>
