<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Lista de Produtos</title>
		</head>
	<body>

		<h1>Produtos</h1>

				<table>
						<tr>
								<td>ID</td>
								<td>Nome</td>

						</tr>


						<%  for(var i=0; i < produtos.length; i++) {  %>

						<tr>
							<td><%= produtos[i].id_produtos %></td>
							<td><%= produtos[i].nome %></td>

						</tr>

						<% } %>

				</table>


	</body>
</html>
