<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Descrição do Produto</title>
		</head>
	<body>

		<h1>Produtos</h1>

				<table>
						<tr>
								<td>ID</td>
								<td>Nome</td>
								<td>Descrição</td>

						</tr>

						<tr>
							<td><%= produto[0].id_produtos %></td>
							<td><%= produto[0].nome %></td>
							<td><%= produto[0].descricao %></td>

						</tr>



				</table>


	</body>
</html>
