<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Adicionar Carro</h1>
    <form action="/carros/salvar" method="POST">
        <div>
            <label for="">Marca</label>
            <input type="text" name="marca">
        </div>
        <div>
            <label for="">Modelo</label>
            <input type="text" name="modelo">
        </div>
        <div>
            <label for="">Cor</label>
            <input type="text" name="cor">
        </div>
        <div>
            <label for="">Placa</label>
            <input type="text" name="placa">
        </div>
        <input type="button" value="Cadastrar">
    </form>
</body>
</html>